@{
    ViewBag.Title = "Order transformation result";
}
@Scripts.Render("~/bundles/loadingWindow")

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "OrderTransformationResultController")

    <div ng-controller="OrderTransformationResultCtrl">
        <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
        <div ng-disabled="loading">
            <table class="table table-bordered table-hover" ng-cloak>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Transformation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transformation in ::transformationsList">
                        <td ng-bind="::$index + 1" />
                        <td ng-bind="::transformation" />
                    </tr>
                </tbody>
            </table>
            <br />
            <div class="monospace">
                Transformations repeated {{::iterationsCount}} times
            </div>
            <br />
            <h4>Transformed sequence:</h4>
            <div class="monospace" ng-bind="::chain"></div>
        </div>
    </div>
}
