@{
    ViewBag.Title = "Домашняя страница";
}

<h2>@ViewBag.Message</h2>
<p>
    Для получения дополнительных сведений о ASP.NET MVC посетите веб-сайт <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
