@{
    ViewBag.Title = "WAV files processor";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AngularControllerInitializer", "CustomCalculationController")

@using (Html.BeginForm("Index", "MusicFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" ng-controller="CustomCalculationCtrl">
        <h4>Sequence and parameters</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" >
            <label class="control-label col-md-2" for="file">WAV files:</label>
            <div class="col-md-10">
                <input type="file" name="file" id="file" multiple/>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}
