@{
    ViewBag.Title = "Batch genes import result";
}
@Scripts.Render("~/bundles/loadingWindow")
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "BatchSequenceImportResultController")

    <div ng-controller="BatchSequenceImportResultCtrl">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Sequence
                    </th>
                    <th>
                        Result
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="matter in result" ng-class="calculateStatusClass(matter.Status)">
                    <td ng-bind="$index + 1" />
                    <td ng-bind="matter.MatterName" />
                    <td ng-bind="matter.Result" />
                </tr>
            </tbody>
        </table>
    </div>
}
