@model LibiadaWeb.connection

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>connection</legend>

    <div class="display-label">chain1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chain1.building)
    </div>

    <div class="display-label">chain</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.chain.building)
    </div>

    <div class="display-label">connection_type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.connection_type.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
