@{
    ViewBag.Title = "Subsequences characteristics distribution";
}

@{
    await Html.RenderPartialAsync("_AngularControllerInitializer", "SubsequencesDistribution");
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    <div ng-controller="SubsequencesDistributionCtrl">
        <h4>Sequences and parameters</h4>
        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters-count="selectedMattersCount"
                       group-and-type-required="::false">
        </matters-table>

        <features-select features="::features"></features-select>

        <hr />
        <characteristic characteristic-types="::characteristicTypes"
                        characteristics-dictionary="::characteristicsDictionary"
                        nature="nature"
                        notations="::notations"
                        languages="::languages"
                        translators="::translators"
                        pause-treatments="::pauseTreatments">
        </characteristic>
        <characteristics characteristic-types="::characteristicTypes"
                         characteristics-dictionary="::characteristicsDictionary"
                         nature="nature"
                         notations="::notations"
                         languages="::languages"
                         translators="::translators"
                         pause-treatments="::pauseTreatments"
                         trajectories="::trajectories"
                         hide-notation="true">
        </characteristics>
        <matters-submit selected-matters-count="selectedMattersCount"
                        minimum-selected-matters="{{::minimumSelectedMatters}}"
                        selected-sequence-groups-count="selectedSequenceGroupsCount">
        </matters-submit>
    </div>
}

@section Scripts {
    <script src="~/js/Angular/Components/characteristic.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/characteristics.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/mattersTable.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/mattersSubmit.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/featuresSelect.js" asp-append-version="true"></script>
}
