@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Сравнение строёв";
}

<h2>Сравнение строёв</h2>

<script type="text/javascript">

    var formTable;

    $(document).ready(function () {
        formTable = $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });

        $('form').submit(function () {
            $(formTable.fnGetHiddenNodes()).find('input:checked').attr("hidden", true).appendTo(this);
        });
    });
    
</script>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Название первого объекта
                </th>
                <th>
                    Название второго объекта
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<MvcHtmlString> mattersList1 = Html.RadioButtonList("matterId1", (List<SelectListItem>) ViewBag.mattersList);
                List<MvcHtmlString> mattersList2 = Html.RadioButtonList("matterId2", (List<SelectListItem>) ViewBag.mattersList);

                for (int i = 0; i < mattersList1.Count; i++)
                {
                    <tr>
                        <td>
                            @mattersList1[i]
                        </td>
                        <td>
                            @mattersList2[i]
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br/>
    @Html.CheckBox("congeneric", "Сравнивать строи однородных цепочек", null)
    <br/>
    @Html.Label("Размер окна:")
    <input type ="number" id ="length" name = "length" value="10" />
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}