@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Сравнение строёв";
}

<h2>Сравнение строёв</h2>

<script type="text/javascript">

    $(document).ready(function () {
        $("table").dataTable({
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    });
    
</script>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Название первого объекта
                </th>
            </tr>
            <tr>
                <th>
                    Название второго объекта
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<MvcHtmlString> mattersList1 = Html.RadioButtonGroup("matterId1", (List<SelectListItem>) ViewBag.mattersList);
                List<MvcHtmlString> mattersList2 = Html.RadioButtonGroup("matterId2", (List<SelectListItem>) ViewBag.mattersList);

                for (int i = 0; i < mattersList1.Count; i++)
                {
                    <tr>
                        <td>
                            @mattersList1[i]
                        </td>
                        <td>
                            @mattersList2[i]
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br/>
    @Html.Label("Размер окна:")
    <input type ="number" id ="length" name = "length" />
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}