@model LibiadaWeb.notation

@{
    ViewBag.Title = "Формы записи";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить данную форму записи?</h3>
<fieldset>
    <legend>Форма записи</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">Природа</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nature.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
