@{
    ViewBag.Title = "Charts";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AngularControllerInitializer", "ChartsController")

<div ng-controller="ChartsCtrl">
    <table-parse ng-model="rawPaste" ng-array="parsedPaste" />
    <div class="row mb-1">
        <table class="table table-bordered table-hover">
            <tr ng-repeat="row in parsedPaste">
                <td ng-repeat="col in row">{{col}}</td>
            </tr>
            <tr ng-show="parsedPaste.length==0">
                <td>Paste data from excel onto this page using Ctrl + V</td>
            </tr>
        </table>
        <div class="mb-2">
            <form ng-submit="addY(l)">
                <select class="form-select"
                        ng-model="l" 
                        ng-options="parsedPaste[0].indexOf(row) as row for row in parsedPaste[0]"></select>
                <input class="btn btn-secondary" type="submit" value="Submit">
            </form>
        </div>
        <div class="mb-2">
            <form ng-submit="addX(i,j)">
                <select class="form-select"
                        ng-model="i" 
                        ng-options="parsedPaste[0].indexOf(row) as row for row in parsedPaste[0]"></select>
                <select class="form-select"
                        ng-model="j" 
                        ng-options="parsedPaste[0].indexOf(row) as row for row in parsedPaste[0]"></select>
                <input class="btn btn-secondary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~lib/d3/d3.js" asp-append-version="true"></script>
}
