@using LibiadaWeb
@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление характеристик";
}

<h2>Вычисление характеристик</h2>

<script type="text/javascript">

    function Characteristic(characteristicType, linkUp, notation, language) {
        var self = this;
        self.characteristicType = ko.observable(characteristicType);
        self.linkUp = ko.observable(linkUp);
        self.notation = ko.observable(notation);
        self.language = ko.observable(language);
    }

    function CreateCharacteristicsViewModel(data) {
        var characteristicsViewModel = ko.mapping.fromJS(data);
        var self = characteristicsViewModel;
        self.characteristics = ko.observableArray([
            new Characteristic(self.characteristicTypes[0],self.linkUps[0],self.notations[0],self.languages[0])
        ]);
        
        self.AddCharacteristic = function() {
            self.characteristics.push(
                new Characteristic(self.characteristicTypes[0],self.linkUps[0],self.notations[0],self.languages[0])
            );
        };

        self.DeleteCharacteristic = function(characteristic) {
            self.characteristics.remove(characteristic);
        };

        return self;
    }

    $(document).ready(function () {
        
        var data = @Html.Raw(Json.Encode(ViewBag.data)) ;

        ko.applyBindings(CreateCharacteristicsViewModel(data));
        AddDataTablesWithSubmit();
    });
</script>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Природа</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: matters">
            <tr>
                <td >
                    <input type="checkbox" name="matterIds" data-bind="value: checkBox.Value, text: checkBox.Text, checked: checkBox.Selected"/>
                    <span data-bind="text: checkBox.Text"></span>
                </td>
                <td data-bind="text: description"></td>
                <td data-bind="text: nature"></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <button data-bind="click: AddCharacteristic">Добавить характеристику</button>
    <br/>
    <div data-bind="foreach: characteristics">
        <select name="characteristicIds" title="Характеристика" data-bind="options: $root.characteristicTypes, optionsText: 'Text', optionsValue: 'Value'"></select>
        <select name="linkUpIds" title="Привязка" data-bind="options: $root.linkUps, optionsText: 'Text', optionsValue: 'Value'"></select>
        <select name="notationIds" title="Форма записи" data-bind="options: $root.notations, optionsText: 'Text', optionsValue: 'Value'"></select>
        <select name="languageIds" title="Язык" data-bind="options: $root.languages, optionsText: 'Text', optionsValue: 'Value'"></select>
        <button data-bind="click: $root.DeleteCharacteristic, enable: $root.characteristics().length > 1">Удалить</button>
        <br/>
    </div>
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}