@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление характеристик";
}

<h2>Вычисление характеристик</h2>

<script type="text/javascript">

    var divCounter = 0;

    var formTable;

    $(document).ready(function() {
        formTable = $("table").dataTable({
            aLengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Все"]],
            bJQueryUI: true,
            sPaginationType: "full_numbers"
        });
    
        $('form').submit(function() {
            $(formTable.fnGetHiddenNodes()).find('input:checked').attr("hidden", true).appendTo(this);
        });

        AddCharacteristic();
    });

    function AddCharacteristic() {
        var characteristicTypes = new Array();
        var linkUps = new Array();
        var notations = new Array();
        var languages = new Array();

        @foreach (var option in ViewBag.characteristicsList)
        {
            @:characteristicTypes.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }

        @foreach (var option in ViewBag.linkUpsList)
        {
            @:linkUps.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }
        
        @foreach (var option in ViewBag.notationsList)
        {
            @:notations.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }
        
        @foreach (var option in ViewBag.languagesList)
        {
            @:languages.push($("<option></option>").attr("value",@option.Value).text('@option.Text'));
        }

        var characteristicsDiv = $("<div/>").attr('name', 'characteristc' + divCounter).attr('id', 'characteristic' + divCounter);

        $("#characteristics_list").append(characteristicsDiv);
        
        var selectList = CreateSelectList(characteristicTypes, 'characteristicIds'); 
        characteristicsDiv.append(selectList);
        
        selectList = CreateSelectList(linkUps, 'linkUpIds');
        characteristicsDiv.append(selectList);
        
        selectList = CreateSelectList(notations, 'notationIds');
        characteristicsDiv.append(selectList);

        selectList = CreateSelectList(languages, 'languageIds');
        characteristicsDiv.append(selectList);
        
        //функция, возвращающая функцию для call back'а
        var tempDeleteFunction = function(element) {
            return function() {
                DeleteElementByName(element.elemName);
            };
        };
        var callBackDeleteFunction = tempDeleteFunction({ elemName: 'characteristic' + divCounter });
        characteristicsDiv.append($('<input/>').attr('type', 'button').attr('value','Удалить').click(callBackDeleteFunction));
        AppendBr(characteristicsDiv);
        
        divCounter++;
        return false;
    }
</script>

@using (Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Название объекта
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<MvcHtmlString> mattersList = Html.CheckBoxGroup("matterIds", (List<SelectListItem>) ViewBag.mattersList);

                foreach (var item in mattersList)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br/>
    <input type="button" onclick=" AddCharacteristic() " value="Добавить характеристику"/>
    <div id="characteristics_list"></div>
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}