@model dynamic

@{
    ViewBag.Title = "Characteristics";
}

@if (ViewBag.Error == null)
{
    <h2>Characteristics</h2>

    <script type="text/javascript">
        "use strict";

        var data = @Html.Raw(Json.Encode(ViewBag));
        CalculationResultController(data);
    </script>
    
    <div ng-app="CalculationResult" ng-controller="CalculationResultCtrl">
        <table st-table="characteristics" class="table table-bordered table-hover" ng-cloak>
            <thead>
                <tr>
                    <th>
                        Sequence name
                    </th>
                    <th ng-repeat="characteristicName in characteristicNames" ng-bind="characteristicName" />
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="characteristic in characteristics">
                    <td ng-bind="matterNames[$index]" />
                    <td ng-repeat="value in characteristic" ng-bind="value" />
                </tr>
            </tbody>
        </table>
        <br />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/functions")
    @Scripts.Render("~/bundles/controllers/calculationResult")
}
