@{
    ViewBag.Title = "Characteristics";
}
@Scripts.Render("~/bundles/loadingWindow")
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "CalculationResultController")

    <div ng-controller="CalculationResultCtrl">
        <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
        <div ng-disabled="loading">
            <ul id='nav' class="nav nav-tabs" role="tablist">
                <li role="presentation" data-trigger="hover" data-toggle="export" data-placement="bottom" title="Data export">
                    <a href="#export" aria-controls="Export" role="tab" data-toggle="tab">
                        <big>
                            <span aria-label="Export" aria-hidden="true">Data export</span>
                        </big>
                    </a>
                </li>
                <li role="presentation" data-trigger="hover" data-toggle="data-table" data-placement="bottom" title="Data table" ng-click="renderResultsTable()">
                    <a href="#data-table" aria-controls="Data-table" role="tab" data-toggle="tab">
                        <big>
                            <span aria-label="Data table" aria-hidden="true">Results</span>
                        </big>
                    </a>
                </li>
                <li role="presentation" data-trigger="hover" data-toggle="charts" data-placement="bottom" title="Charts">
                    <a href="#charts" aria-controls="Charts" role="tab" data-toggle="tab">
                        <big>
                            <span aria-label="Charts" aria-hidden="true">Charts</span>
                        </big>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="export">
                    <br />
                    <label class="control-label col-md-2" for="searchQuery">Excel file name:</label>
                    <input type="text"
                           class="form-control"
                           name="excelFileName"
                           id="excelFileName"
                           placeholder="results"
                           ng-model="excelFileName" />
                    <input type="button" class="btn btn-default" ng-click="exportToExcel()" value="Export results to excel file" />
                </div>
                <div role="tabpanel" class="tab-pane" id="data-table">
                    <table id="characteristicsTable" st-table="characteristics" class="table table-bordered table-hover" ng-cloak>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sequence name</th>
                                <th ng-repeat="characteristicName in ::characteristicNames" ng-bind="::characteristicName" />
                            </tr>
                        </thead>
                        <tbody id="calculationResults">
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="charts">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="firstCharacteristic">First characteristic:</label>
                        <div class="col-md-10">
                            <select class="form-control"
                                    title="First characteristic"
                                    ng-model="firstCharacteristic"
                                    ng-options="c.Text for c in ::characteristicsList"
                                    id="firstCharacteristic"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="secondCharacteristic">Second characteristic:</label>
                        <div class="col-md-10">
                            <select class="form-control"
                                    title="Second characteristic"
                                    ng-model="secondCharacteristic"
                                    ng-options="c.Text for c in ::characteristicsList"
                                    id="secondCharacteristic"></select>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-2" for="height">Height:</label>
                        <div class="col-md-10">
                            <input class="form-control" name="height" id="height" type="number" min="500" step="20" ng-model="height" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="width">Width:</label>
                        <div class="col-md-10">
                            <input class="form-control" name="width" id="width" type="number" min="400" step="20" ng-model="width" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="checkbox"
                                   name="showLegend"
                                   id="showLegend"
                                   ng-model="legendSettings.show" />
                            <label for="showLegend">
                                Draw legend
                            </label>
                        </div>
                    </div>
                    <br />
                    <input type="button" class="btn btn-default" ng-click="draw()" value="Draw" />
                    <div id="chart">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/d3js")
}
