@{
    ViewBag.Title = "Characteristics";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "CalculationResultController")

    <div ng-controller="CalculationResultCtrl">
        @Html.Partial("_ModalLoadingWindow")
        <div ng-disabled="loading">
            <table st-table="characteristics" class="table table-bordered table-hover" ng-cloak>
                <thead>
                <tr>
                    <th>
                        Sequence name
                    </th>
                    <th ng-repeat="characteristicName in characteristicNames" ng-bind="characteristicName"/>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="characteristic in characteristics">
                    <td ng-bind="characteristic.MatterName"/>
                    <td ng-repeat="value in characteristic.Characteristics" ng-bind="value"/>
                </tr>
                </tbody>
            </table>
            <br/>
            <div class="form-group">
                <label class="control-label col-md-2" for="firstCharacteristic">First characteristic:</label>
                <div class="col-md-10">
                    <select class="form-control" title="First characteristic" ng-model="firstCharacteristic" ng-options="c.Text for c in characteristicsList" id="firstCharacteristic"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="secondCharacteristic">Second characteristic:</label>
                <div class="col-md-10">
                    <select class="form-control" title="Second characteristic" ng-model="secondCharacteristic" ng-options="c.Text for c in characteristicsList" id="secondCharacteristic"></select>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label class="control-label col-md-2" for="height">Height:</label>
                <div class="col-md-10">
                    <input class="form-control" name="height" id="height" type="number" min="{{500 + legendHeight}}" step="20" ng-model="height"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="width">Width:</label>
                <div class="col-md-10">
                    <input class="form-control" name="width" id="width" type="number" min="{{400}}" step="20" ng-model="width"/>
                </div>
            </div>
            <br/>
            <input type="button" class="btn btn-default" ng-click="draw()" value="Draw"/>
            <div id="chart">
            </div>
        </div>
    </div>
    <br />
}

@section Scripts {
    @Scripts.Render("~/bundles/d3js")
}
