body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    
}

#main {
    float: left;
    position: absolute;
    width: 70vw;
}

#sidebar {
    /*left: 70vw;*/
    width:30vw;
    right: 0;
    float: right;
    position: absolute;
    /*height: 200px;*/
    overflow-y: auto;
    height: 100vh;
}

#dragbar {
    background-color: darkgray;
    /*height: 100%;*/
    float: left;
    /*width: 100%;*/
    cursor: col-resize;
    outline: 4px dotted red;
}

#ghostbar {
    width: 2px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 999
}