body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
}

#main {
    width: 70vw;
    min-width : 300px;
}

#sidebar {
    flex: 1;
    width: 30vw;
}

#nav {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.tab-content {
    padding-left: 10px;
    padding-top: 10px;
    overflow-y: auto;
    height: calc(100vh - 60px);
}

#dragbar {
    background-color: darkgray;
    height: 100vh;
    width: 3px;
    cursor: col-resize;
    margin-left : 1px;
}


.form-horizontal .form-group {
    margin: 0 !important;
}

/*@media (min-width: 400px) {
    .nav-tabs {
        flex-direction: column;
        width: 50px;
    }
}*/