/* "Up" scroll button */
#buttonScrollUp {
    height: 50%;
    top: 0px;
    text-align: center;
}

/* "Down" scroll button */
#buttonScrollDown {
    height: 50%;
    bottom: 0px;
    text-align: center;
}

/* scroll buttons panel */
#scrollUpDown {
    position: fixed;
    height: 100%;
    width: 30px;
    font-size: 2em;
}

.arrow-button {
    fill: #337ab7;
    height: 50%;
}

.arrow-button:hover {
    background: #eee;
    transition: 0.4s;
}
