@using LibiadaWeb.Models.Account

<br />
<div class="form-group">
    <label class="control-label col-md-2" for="characteristic">Characteristic:</label>
    <div class="col-md-10">
        <select class="form-control" title="Characteristic" ng-model="characteristic.characteristicType" ng-options="c.Text for c in characteristicTypes" ng-change="selectLink(characteristic)" id="characteristic"></select>
        <input type="hidden" name="characteristicId" ng-value="characteristic.characteristicType.Value"/>
    </div>
</div>
<div class="form-group" ng-show="isLinkable(characteristic)">
    <label class="control-label col-md-2" for="link">Link:</label>
    <div class="col-md-10">
        <select class="form-control" title="Link" ng-model="characteristic.link" ng-options="l.Text for l in characteristic.characteristicType.CharacteristicLinks" id="link"></select>
        <input type="hidden" name="linkId" ng-value="characteristic.link.Value"/>
        <input type="hidden" name="characteristicTypeLinkId" ng-value="characteristic.link.CharacteristicTypeLinkId"/>
    </div>
</div>
@if (UserHelper.IsAdmin())
{
    <div class="form-group">
        <label class="control-label col-md-2" for="notation">Notation:</label>
        <div class="col-md-10">
            <select class="form-control" title="Notation" ng-model="characteristic.notation" ng-options="n.Text for n in notations | filter:{ Nature: nature }" id="notation"></select>
        </div>
    </div>
}
<input type="hidden" name="notationId" ng-value="characteristic.notation.Value"/>

@Html.Partial("_CharacteristicNatureParams")
