<div ng-switch="nature">
    <div ng-switch-when="@((byte)Nature.Literature)">
        <div class="form-group">
            <label class="control-label col-md-2" for="language">Language:</label>
            <div class="col-md-10">
                <select class="form-control" title="Language" ng-model="characteristic.language" ng-options="l.Text for l in languages" id="language"></select>
                <input type="hidden" name="language" ng-value="characteristic.language.Value" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="translator">Translator:</label>
            <div class="col-md-10">
                <select class="form-control" title="Translator" ng-model="characteristic.translator" ng-options="t.Text for t in translators" id="translator"></select>
                <input type="hidden" name="translatorId" ng-value="characteristic.translator.Value"/>
            </div>
        </div>
    </div>
    <div ng-switch-when="@((byte)Nature.Genetic)">
    </div>
    <div ng-switch-when="@((byte)Nature.Music)">
    </div>
    <div ng-switch-when="@((byte)Nature.MeasurementData)">
    </div>
</div>
<hr/>
<br />
