@model CommonSequence

<br />
@Html.LabelFor(model => model.FeatureId, new { @class = "control-label" })
<div ng-repeat="feature in features">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label>
                <input type="checkbox" name="featureIds" ng-value="feature.Value" checked/>
                {{feature.Text}}
            </label>
        </div>
    </div>
</div>
<hr/>
<br/>
