@model Subsequence

<br />
@Html.LabelFor(model => model.Feature, new { @class = "control-label col-md-2" })
<div ng-repeat="feature in ::features">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label>
                <input type="checkbox"
                       name="features"
                       checked
                       ng-value="::feature.Value"
                       ng-model="feature.Selected"
                       ng-change="filterByFeature(feature)" />
                {{::feature.Text}}
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" class="btn btn-default" ng-click="setCheckBoxesState(features, false, filterByFeature)" value="Uncheck All" />
        <input type="button" class="btn btn-success" ng-click="setCheckBoxesState(features, true, filterByFeature)" value="Check All" />
    </div>
</div>
<br />
