<br />
<div class="form-group">
    <label class="col-md-10" for="filterInput">Filter subsequences by product and locus_tag:</label>
    <div class="col-md-10">
        <input class="form-control" type="text" ng-model="newFilter" id="filterInput" name="filterInput" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <button type="button" class="btn btn-success" ng-click="addFilter()" style="margin-top: 15px;">Add filter</button>
    </div>
</div>
<div ng-repeat="filter in filters">
    <div class="form-group">
        <div class="col-md-10">
            <input type="hidden" name="filters" ng-value="::filter.value" />
            <div ng-bind="::filter.value" style="margin-top: 15px;"></div>
            <button type="button" class="btn btn-danger" ng-click="deleteFilter(filter)" style="margin-top: 15px;">Delete filter</button>
        </div>
    </div>
    <br />
</div>

<hr />
<br />
