<div class="row mt-2">
    
    <div class="col-auto">
        <label class="form-label" for="filterInput">Filter subsequences by product and locus_tag:</label>
        <input class="form-control" type="text" ng-model="newFilter" id="filterInput" name="filterInput" />
    </div>
</div>
<div class="row mb-1">
    <div class="col-md-10">
        <button type="button" class="btn btn-success mt-3" ng-click="addFilter()">Add filter</button>
    </div>
</div>
<div ng-repeat="filter in filters">
    <div class="row mb-1">
        <div class="col-md-10">
            <input type="hidden" name="filters" ng-value="::filter.value" />
            <div ng-bind="::filter.value" readonly class="form-control-plaintext mt-3"></div>
            <button type="button" class="btn btn-danger mt-3" ng-click="deleteFilter(filter)">Delete filter</button>
        </div>
    </div>
    <br />
</div>
<hr />
<br />
