<div ng-if="fileType=='image'">
    <br />
    <div ng-repeat="transformer in selectedImageTransformers">
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="transformer">Transformer:</label>
            <div class="col-md-10">
                <select class="form-select"
                        ng-model="transformer.Value"
                        ng-options="s.Value as s.Text for s in ::imageTransformers"
                        id="transformer"></select>
            </div>
        </div>
        <div class="row mb-1">
            <div class="offset-md-2 col-md-10">
                <button type="button" class="btn btn-danger" ng-click="deleteImageTransformation(transformer)">
                    Delete transformation
                </button>
            </div>
        </div>
        <br />
    </div>
    <div class="row mb-1">
        <div class="offset-md-2 col-md-10">
            <button type="button" class="btn btn-success" ng-click="addImageTransformation()">
                Add image tranformation
            </button>
        </div>
    </div>
    <hr />
    <br />
</div>
