@model IEnumerable<Matter>

<br />
<label class="control-label">Sequences:</label>
<table ng-cloak class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
        </th>
        <th>
            <input type="text" class="form-control" placeholder="Filter by name" ng-model="searchMatter"/>
        </th>
        <th>
            <input type="text" class="form-control" placeholder="Filter by description" ng-model="searchDescription"/>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <th>
            #
        </th>
        <th>
            @(Html.DisplayNameFor(model => model.Name))
        </th>
        <th>
            @(Html.DisplayNameFor(model => model.Description))
        </th>
        <th>
            @(Html.DisplayNameFor(model => model.Created))
        </th>
        <th>
            @(Html.DisplayNameFor(model => model.Modified))
        </th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="matter in matters | filter:{ Nature: nature } | filter:{ Text: searchMatter} | filter: { Description: searchDescription }" ng-cloak>
            <td ng-bind="$index + 1" />
            <td>
                <label>
                    <input type="radio" ng-if="radiobuttonsForMatters" ng-model="matter.Selected" name="matterId" ng-value="matter.Value" ng-change="matterCheckChanged(matter)" />
                    <input type="checkbox" ng-if="!radiobuttonsForMatters" ng-model="matter.Selected" name="matterIds" ng-value="matter.Value" ng-change="matterCheckChanged(matter)" ng-disabled="disableMattersSelect(matter)" />

                    {{matter.Text}}
                </label>
            </td>
            <td ng-bind="matter.Description" />
            <td ng-bind="matter.Created" />
            <td ng-bind="matter.Modified" />
        </tr>
    </tbody>
</table>
<br />