<div class="form-group">
    <div class="col-md-10">
        <input type="submit" value="{{submitName}}" class="btn btn-default" ng-disabled="selectedMattersCount < minimumSelectedMatters" />
    </div>
</div>