@model IEnumerable<Matter>

<br/>
<label class="control-label">Sequences:</label>
<table st-table="matters | filter:{Nature: natureId}" st-safe-src="matters" ng-cloak class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Name))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Description))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Created))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Modified))
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="matter in matters | filter:{Nature: natureId}" ng-cloak>
            <td ng-bind="$index + 1" />
            <td>
                <label>
                    <input type="checkbox" ng-if="mattersCheckboxes" ng-model="matter.Selected" name="matterIds" ng-value="matter.Value" ng-change="matterCheckChanged(matter)" ng-disabled="disableMattersSelect(matter)" />
                    <input type="radio" ng-if="!mattersCheckboxes" ng-model="matter.Selected" name="matterId" ng-value="matter.Value" ng-change="matterCheckChanged(matter)" />

                    {{matter.Text}}
                </label>
            </td>
            <td ng-bind="matter.Description" />
            <td ng-bind="matter.Created" />
            <td ng-bind="matter.Modified" />
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
            </td>
        </tr>
    </tfoot>
</table>
<br />