@using LibiadaWeb.Helpers

@if (AccountHelper.IsAdmin())
{
    <div class="form-floating">
        <select class="form-select"
                id="Nature"
                ng-model="nature"
                ng-options="n.Value as n.Text for n in ::natures"
                ng-change="filterByNature()"
                ng-init="filterByNature()">
        </select>
        <label class="col-form-label" for="Nature">Nature</label>
        <input type="hidden" name="Nature" ng-value="nature" />
    </div>
}
