@using LibiadaWeb.Helpers

@if (AccountHelper.IsAdmin())
{
    <div class="form-group">
        <label class="control-label col-md-2" for="Nature">Nature</label>
        <div class="col-md-10">
            <select class="form-control"
                    id="Nature"
                    ng-model="nature"
                    ng-options="n.Value as n.Text for n in ::natures"
                    ng-change="filterByNature()"
                    ng-init="filterByNature()">
            </select>
            <input type="hidden" name="Nature" ng-value="nature" />
        </div>
    </div>
}
