<hr />
<div ng-repeat="transformation in $ctrl.transformations">
    <div class="form-group">
        <label class="control-label col-md-2" for="operation">Transformation:</label>
        <div class="col-md-10">
            <select class="form-control" title="Operation" ng-model="transformation.operation" ng-options="o.Text for o in $ctrl.operations" id="operation"></select>
            <input type="hidden" name="transformationIds" ng-value="transformation.operation.Value" />
        </div>
    </div>
    <div class="form-group" ng-show="transformation.operation.Value == 2">
        <label class="control-label col-md-2" for="transformationLink">Link:</label>
        <div class="col-md-10">
            <select class="form-control" title="transformationLink" ng-model="transformation.link" ng-options="l.Text for l in $ctrl.transformationLinks" id="transformationLink"></select>
            <input type="hidden" name="transformationLinkIds" ng-value="transformation.link.Value" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class=" col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteTransformation(transformation)" ng-disabled="$ctrl.transformations.length <= 1">Delete transformation</button>
        </div>
    </div>
    <br />
</div>
<div class="form-group">
    <div class="col-md-offset-2  col-md-10">
        <button type="button" class="btn btn-success" ng-init="$ctrl.addTransformation()" ng-click="$ctrl.addTransformation()">Add transformation</button>
    </div>
</div>
<br/>
<div class="form-group">
    <label class="control-label col-md-2" for="iterationsCount">Repeat transformation n times:</label>
    <div class="col-md-10">
        <input class="form-control" name="iterationsCount" id="iterationsCount" type="number" min="1" step="1" value="1" />
    </div>
</div>
<hr />
