@{
    ViewBag.Title = "Sequence import result";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "BatchSequenceImportResult")

    <div ng-controller="BatchSequenceImportResultCtrl">
        <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
        <h5>
            Sequence <strong ng-bind="::Name"></strong> imported successfully
        </h5>
        <ul class="list-group">
            <li class="list-group-item">
                Nature: {{::Nature}}
            </li>
            <li class="list-group-item">
                Notation: {{::Notation}}
            </li>
            <li class="list-group-item">
                Group: {{::Group}}
            </li>
            <li class="list-group-item">
                Sequence type: {{::SequenceType}}
            </li>
            <li class="list-group-item">
                Multisequence name: {{::MultisequenceName}}
            </li>
            <li class="list-group-item">
                Multisequence number: {{::MultisequenceNumber}}
            </li>
            <li class="list-group-item">
                Collection country: {{::CollectionCountry}}
            </li>
            <li class="list-group-item">
                Collection date: {{::CollectionDate}}
            </li>
            <li class="list-group-item">
                Description: {{Description}}
            </li>
            <li class="list-group-item" ng-if="::RemoteId && RemoteId.length > 0">
                Remote id: {{::RemoteId}}
            </li>
            <li class="list-group-item" ng-if="::Language && Language.length > 0">
                Language: {{::Language}}
            </li>
            <li class="list-group-item" ng-if="::Original != null">
                {{::Original ? 'Text is not translated' : 'Text is translated'}}
            </li>
            <li class="list-group-item" ng-if="::Translator && Translator.length > 0">
                Translator: {{::Translator}}
            </li>
            <li class="list-group-item" ng-if="::Partial">
                Sequence is partial
            </li>
            <li class="list-group-item" ng-if="::Precision">
                Data precision: {{::Precision}}
            </li>
        </ul>
        <div class="mb-2">
            @Html.ActionLink("Import another sequence", "Create") or go @Html.ActionLink("back to List", "Index").
        </div>
    </div>

    @section Scripts {
    <script src="~/js/Angular/Components/loadingWindow.js" asp-append-version="true"></script>
    }
}
