@{
    ViewBag.Title = "Multisequence grouping result";
}
@Scripts.Render("~/bundles/loadingWindow")
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "MultiSequenceConcatenationResultController")

    <div ng-controller="MultiSequenceConcatenationResultCtrl">
        <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
        <div ng-disabled="loading">
            <table class="table table-bordered table-hover" ng-cloak>
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Multisequence name
                        </th>
                        <th>
                            Result
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="multisequence in result" >
                        <td ng-bind="$index + 1" />
                        <td>
                            <label>
                                <input type="checkbox"
                                       ng-model="multisequence.Selected"
                                       name="multisequenceName"
                                       ng-value="multisequence.Value"
                                       ng-disabled="multisequence.matterIds.length <= 1" 
                                       ng-checked="::multisequence.matterIds.length > 1"/>

                                {{multisequence.name}}
                            </label>
                        </td>
                        <td>
                            <div ng-repeat="matterId in multisequence.matterIds">
                                {{matters[matterId].Name}}
                                <button type="button" class="btn btn-danger btn-xs" ng-click="unboundMatter(multisequence, matterId)">X</button>
                                <br />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
