@{
    ViewBag.Title = "Multisequence grouping result";
}
@Scripts.Render("~/bundles/loadingWindow")
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    using (Html.BeginForm())
    {
        @Html.Partial("_AngularControllerInitializer", "MultiSequenceConcatenationResultController")

        <div ng-controller="MultiSequenceConcatenationResultCtrl">
            <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
            <div ng-disabled="loading">
                <table class="table table-bordered table-hover" ng-cloak>
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Multisequence name
                        </th>
                        <th>
                            Result
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="multisequence in result">
                        <td ng-bind="$index + 1"/>
                        <td>
                            <label>
                                <input type="checkbox"
                                       name="multisequencesNames"
                                       ng-value="multisequence.name"
                                       ng-disabled="multisequence.matterIds.length <= 1"
                                       ng-checked="::multisequence.matterIds.length > 1"/>

                                {{multisequence.name}}
                            </label>
                        </td>
                        <td>
                            <div ng-repeat="matterId in multisequence.matterIds">
                                <input type="hidden" name="{{'multisequenceMatters[' + multisequence.name + ']'}}" value="{{matterId}}"/>
                                {{matters[matterId].Name}}
                                
                                <button type="button" class="btn btn-danger btn-xs" ng-click="unboundMatter(multisequence, matterId)">X</button>
                                <br/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success"/>
                </div>
                <br/>
                <hr/>
                <br/>
                <h3> Ungrouped matters</h3>
                <table class="table table-bordered table-hover" ng-cloak>
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Matter name
                        </th>
                        <th>
                            Group
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="matter in ungroupedMatters">
                        <td ng-bind="$index + 1"/>
                        <td>
                            <label>
                                {{matter.Name}}
                            </label>
                        </td>
                        <td>
                            <mat-form-field>
                                <select name="{{matter}}" ng-model="selectedName" ng-options="multisequence.name for multisequence in result"></select>
                                <button type="button" class="btn btn-default btn-xs" ng-click="distributeMatter(selectedName, matter.Id)">Distribute</button>
                            </mat-form-field>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}
