<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNet.Highcharts" version="1.2" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="jQuery" version="1.8.2" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.9.0" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net40" />
  <package id="Modernizr" version="2.6.2" targetFramework="net40" />
  <package id="MvcScaffolding" version="1.0.9" targetFramework="net40" />
  <package id="T4Scaffolding" version="1.0.8" targetFramework="net40" />
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net40" />
</packages>