@{
    ViewBag.Title = "Clusterization results";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    await Html.RenderPartialAsync("_AngularControllerInitializer", "ClusterizationResult");

    <div ng-controller="ClusterizationResultCtrl">
        <table st-table="characteristics" class="table table-bordered table-hover table-sm" ng-cloak>
            <thead>
                <tr>
                    <th>Sequence name</th>
                    <th>Cluster</th>
                    <th ng-repeat="characteristicName in ::characteristicNames" ng-bind="::characteristicName" />
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="characteristic in ::characteristics">
                    <td ng-bind="::characteristic.MatterName" />
                    <td ng-bind="::characteristic.cluster" />
                    <td ng-repeat="value in ::characteristic.Characteristics" ng-bind="::value" />
                </tr>
            </tbody>
        </table>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="firstCharacteristic">First characteristic:</label>
            <div class="col-md-10">
                <select class="form-select"
                        title="First characteristic"
                        ng-model="firstCharacteristic"
                        ng-options="c.Text for c in ::characteristicsList"
                        id="firstCharacteristic"></select>
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="secondCharacteristic">Second characteristic:</label>
            <div class="col-md-10">
                <select class="form-select"
                        title="Second characteristic"
                        ng-model="secondCharacteristic"
                        ng-options="c.Text for c in ::characteristicsList"
                        id="secondCharacteristic"></select>
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="height">Height:</label>
            <div class="col-md-10">
                <input class="form-control" name="height" id="height" type="number" min="500" step="20" ng-model="height" />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="width">Width:</label>
            <div class="col-md-10">
                <input class="form-control" name="width" id="width" type="number" min="400" step="20" ng-model="width" />
            </div>
        </div>
        <div class="form-check mb-2">
            <input type="checkbox"
                   class="form-check-input"
                   name="showLegend"
                   id="showLegend"
                   ng-model="legendSettings.show" />
            <label class="form-check-label" for="showLegend">
                Draw legend
            </label>
        </div>
        <input type="button" class="btn btn-secondary mb-2" ng-click="draw()" value="Draw" />
        <div class="row" id="chart-visibility-buttons" ng-show="chartDisplayed">
            <div class="col-md-4 mt-2 btn-group" role="group" aria-label="Legend control buttons">
                <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="legendSetVisibilityForAll(true)">
                    Show all
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="legendSetVisibilityForAll(false)">
                    Hide all
                </button>
            </div>
        </div>
        <div id="chart" class="font-monospace">
        </div>
    </div>

    @section Scripts {
    <script src="~/lib/d3/d3.js" asp-append-version="true"></script>
    }
}
