@if (Request.IsAuthenticated) {
    <text>
        Здравствуйте, @Html.ActionLink(User.Identity.Name, "Manage", "Account", null, new { @class = "username", title = "Управление" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Регистрация", "Register", "Account", null, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", null, new { id = "loginLink" })</li>
    </ul>
}
