@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<hgroup class="title">
    <h1 class="error">Ошибка.</h1>
    <h2 class="error">При обработке запроса произошла ошибка.</h2>
</hgroup>
