@{
    ViewBag.Title = "Genes import";
}

@{
    await Html.RenderPartialAsync("_AngularControllerInitializer", "GenesImport");
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "GenesImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div ng-controller="GenesImportCtrl">
        <research-objects-table research-objects-endpoint="GetResearchObjectsForGenesImport"
                                nature="nature"
                                groups="groups"
                                sequence-types="sequenceTypes"
                                maximum-selected-research-objects="::maximumSelectedResearchObjects"
                                selected-research-objects-count="selectedResearchObjectsCount"
                                group-and-type-required="::false">
        </research-objects-table>
        <research-objects-submit selected-research-objects-count="selectedResearchObjectsCount"
                                 submit-name="Import"
                                 minimum-selected-research-objects="{{::minimumSelectedResearchObjects}}">
        </research-objects-submit>
    </div>
}

@section Scripts {
    <script src="~/js/Angular/Components/researchObjectsTable.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/researchObjectsSubmit.js" asp-append-version="true"></script>
}
