@{
    ViewBag.Title = "Genes import";
}

@{
    await Html.RenderPartialAsync("_AngularControllerInitializer", "GenesImport");
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "GenesImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div ng-controller="GenesImportCtrl">
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters-count="selectedMattersCount"
                       group-and-type-required="::false">
        </matters-table>
        <matters-submit selected-matters-count="selectedMattersCount"
                        submit-name="Import"
                        minimum-selected-matters="{{::minimumSelectedMatters}}">
        </matters-submit>
    </div>
}

@section Scripts {
    <script src="~/js/Angular/Components/mattersTable.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/mattersSubmit.js" asp-append-version="true"></script>
}
