@using LibiadaWeb.Helpers

@{
    ViewBag.Title = "Libiada task manager";
}

@Html.Partial("_AngularControllerInitializer", "TaskManagerController")
<script src="~/signalr/hubs"></script>
<h2>@ViewBag.Title</h2>

<div ng-app="libiada" ng-controller="TaskManagerCtrl">
    <table st-table="tasks" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                @if (AccountHelper.IsAdmin())
                {
                    <th>
                        User
                    </th>
                }
                <th>
                    Name
                </th>
                <th>
                    Created
                </th>
                <th>
                    Started
                </th>
                <th>
                    Completed
                </th>
                <th>
                    Execution time
                </th>
                <th class="text-center">
                    <big><span class="glyphicon glyphicon-info-sign text-primary" title="Status" aria-hidden="true"></span></big>
                </th>
                <th>
                    Results
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="loading">
                <td colspan="10" class="empty-table">
                    Loading...
                </td>
            </tr>
            <tr ng-if="!loading&&tasks.length == 0">
                <td colspan="10" class="empty-table">
                    There are no sheduled or active tasks
                </td>
            </tr>
            <tr ng-repeat="task in tasks" ng-cloak ng-class="calculateStatusClass(task.TaskState)">
                <td ng-bind="$index + 1" />
                @if (AccountHelper.IsAdmin())
                {
                    <td aria-label="{{task.UserName}}" title="{{task.UserName}}" ng-bind="task.UserId" />
                }
                <td ng-bind="task.DisplayName" />
                <td ng-bind="task.Created" />
                <td ng-bind="task.Started" />
                <td ng-bind="task.Completed" />
                <td ng-bind="task.ExecutionTime" />
                <td aria-label="{{task.TaskStateName}}">
                    <big><span ng-class="calculateStatusGlyphicon(task.TaskState)" title="{{task.TaskStateName}}" aria-hidden="true"></span></big>
                </td>
                <td>
                    <a ng-if="task.TaskState == 'Completed' || task.TaskState == 'Error'" ng-href="{{task.TaskType + '/Result/' + task.Id}}" target="_blank" rel="noopener">View result</a>
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "TaskManager", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="id" ng-value="task.Id" />
                        <input type="submit" value="Delete task" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this task?')"/>
                    }
                </td>
            </tr>
        </tbody>
    </table>

    <br />

    @using (Html.BeginForm("DeleteAll", "TaskManager", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <input type="submit" value="Delete all tasks" class="btn btn-danger" ng-hide="tasks.length == 0" ng-cloak onclick="return confirm('Are you sure you want to delete ALL tasks?')"/>
                </div>
            </div>
        </div>
    }

    <div class="form-group" ng-if="flags.reconnecting">
        <div class="col-md-offset-10 col-md-2">
            <p>Reconnecting...</p>
        </div>
    </div>
</div>
