@{
    Layout = "_EmptyLayout";
    ViewBag.Title = "Libiada - Characteristics";
}

@if (ViewBag.Error == null)
{
    await Html.RenderPartialAsync("_AngularControllerInitializer", "ClusterizationResult");
}

<div class="no-margin" ng-controller="ClusterizationResultCtrl">
    <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
    <div ng-disabled="loading">
        <ul id='nav' class="nav nav-tabs d-flex justify-content-evenly pt-1" role="tablist">
            <li class="nav-item" role="presentation" title="Data table">
                <button class="nav-link active"
                        id="data-table-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#data-table-tab-pane"
                        type="button"
                        role="tab"
                        aria-controls="data-table-tab-pane"
                        aria-selected="true">
                    Data
                </button>
            </li>
            <li class="nav-item" role="presentation" title="Charts">
                <button class="nav-link"
                        id="charts-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#charts-tab-pane"
                        type="button"
                        role="tab"
                        aria-controls="charts-tab-pane"
                        aria-selected="false">
                    Charts
                </button>
            </li>
        </ul>
        <div class="tab-content tab-content-full-height">
      
            <div id="data-table-tab-pane"
                 class="tab-pane fade show active"
                 role="tabpanel"
                 aria-labelledby="data-table-tab"
                 tabindex="0">
                <table class="table table-bordered table-hover" ng-cloak>
                    <thead>
                        <tr>
                            <th>Sequence name</th>
                            <th ng-repeat="characteristicName in ::characteristicNames" ng-bind="::characteristicName" />
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="characteristic in ::characteristics">
                            <td ng-bind="::characteristic.ResearchObjectName" />
                            <td ng-repeat="index in ::characteristicsIndex" ng-bind="::characteristic.Characteristics[index]" />
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="charts-tab-pane"
                 class="tab-pane fade"
                 role="tabpanel"
                 aria-labelledby="charts-tab"
                 tabindex="0">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="row mb-2">
                                <label class="col-form-label col-md-4">First characteristic:</label>
                                <div class="col-md-8">
                                    <select class="form-select"
                                            ng-model="firstCharacteristic"
                                            ng-options="c.Text for c in ::characteristicsList"></select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-md-4">Second characteristic:</label>
                                <div class="col-md-8">
                                    <select class="form-select"
                                            ng-model="secondCharacteristic"
                                            ng-options="c.Text for c in ::characteristicsList"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row mb-2">
                                <label class="col-form-label col-md-4">Chart Height:</label>
                                <div class="col-md-8">
                                    <input class="form-control"
                                           type="number"
                                           min="500"
                                           step="20"
                                           ng-model="height" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-md-4">Chart Width:</label>
                                <div class="col-md-8">
                                    <input class="form-control"
                                           type="number"
                                           min="400"
                                           step="20"
                                           ng-model="width" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input type="checkbox"
                                       class="form-check-input"
                                       ng-model="legendSettings.show" />
                                <label class="form-check-label">
                                    Show Legend
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <input type="button"
                                   class="btn btn-secondary"
                                   ng-click="draw()"
                                   value="Draw Chart" />
                        </div>
                    </div>

                    <div class="row" ng-show="chartDisplayed">
                        <div class="col-md-12">
                            <div class="btn-group mb-3" role="group">
                                <button type="button"
                                        class="btn btn-outline-secondary btn-sm"
                                        ng-click="legendSetVisibilityForAll(true)">
                                    Show All
                                </button>
                                <button type="button"
                                        class="btn btn-outline-secondary btn-sm"
                                        ng-click="legendSetVisibilityForAll(false)">
                                    Hide All
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="chart" class="font-monospace"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/d3/d3.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/loadingWindow.js" asp-append-version="true"></script>
    <script src="~/lib/plotly.js/plotly.min.js" asp-append-version="true"></script>
}