@{
    ViewBag.Title = "Genbank accessions update checker";
}

@Html.Partial("_AngularControllerInitializer", "BatchGeneticImportFromGenBankSearchFileController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-controller="BatchGeneticImportFromGenBankSearchFileCtrl">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="reinmportSequences" value="true" />
                    <input type="hidden" name="reinmportSequences" value="false" />
                    Reimport updated sequences
                </label>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Check" class="btn btn-default" />
            </div>
        </div>
    </div>
}
