@{
    ViewBag.Title = "Segmentation of poem sequences";
}

@{
    await Html.RenderPartialAsync("_AngularControllerInitializer", "Calculation");
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div ng-controller="CalculationCtrl">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <research-objects-table research-objects-endpoint="GetPoemsResearchObjects"
                                nature="nature"
                                groups="groups"
                                sequence-types="sequenceTypes"
                                maximum-selected-research-objects="maximumSelectedResearchObjects"
                                selected-research-objects-count="selectedResearchObjectsCount"
                                group-and-type-required="::false">
        </research-objects-table>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="wordLength">Max word length:</label>
            <div class="col-md-10">
                <input class="form-control"
                       name="wordLength"
                       id="wordLength"
                       type="number"
                       min="1"
                       step="1"
                       ng-model="wordLength"
                       ng-init="wordLength=6" />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="wordLength">Start threshold value:</label>
            <div class="col-md-10">
                <input class="form-control"
                       name="startThreshold"
                       id="startThreshold"
                       type="number"
                       min="0"
                       max="1"
                       step="0.001"
                       ng-model="startThreshold"
                       ng-init="startThreshold=0.5" />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-form-label col-md-2" for="wordLength">Balance ratio:</label>
            <div class="col-md-10">
                <input class="form-control"
                       name="balance"
                       id="balance"
                       type="number"
                       min="0"
                       max="1"
                       step="0.1"
                       ng-model="balance"
                       ng-init="balance=0.5" />
            </div>
        </div>
        <research-objects-submit selected-research-objects-count="selectedResearchObjectsCount"
                                 submit-name="Segment"
                                 minimum-selected-research-objects="{{::minimumSelectedResearchObjects}}">
        </research-objects-submit>
    </div>
}

@section Scripts {
    <script src="~/js/Angular/Components/characteristic.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/researchObjectsTable.js" asp-append-version="true"></script>
    <script src="~/js/Angular/Components/researchObjectsSubmit.js" asp-append-version="true"></script>
}
