@{
    ViewBag.Title = "Genes import";
}

@Html.Partial("_AngularControllerInitializer", "GenesImportController")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "GenesImport", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-controller="GenesImportCtrl">
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters="selectedMatters">
        </matters-table>
        @Html.Partial("_MattersSubmit")
    </div>
}
