@model dynamic

@{
    ViewBag.Title = "Characteristics of custom sequence";
}

<h2>Characteristics of custom sequence</h2>
@if (ViewBag.Error == null)
{
    <table class="table table-bordered table-hover">
        @for (int i = 0; i < ViewBag.characteristics.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.characteristicNames[i]
                </td>
                <td>
                    @ViewBag.characteristics[i]
                </td>
            </tr>
        }
    </table>
}

