@model dynamic

@{
    ViewBag.Title = "Characteristics of custom sequence";
}

<h2>Characteristics of custom sequence</h2>
@if (ViewBag.Error == null)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Sequence \ characteristic name
                </th>
                @foreach (var characteristicName in ViewBag.characteristicNames)
                {
                    <th>
                        @Html.Raw(characteristicName.Replace("  ", "<br/>"))
                    </th>
                }
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < ViewBag.characteristics.Count; i++)
        {
            <tr>
                <td>
                    @ViewBag.names[i]
                </td>
                @foreach (var characteristic in ViewBag.characteristics[i])
                {
                    <td>
                        @characteristic
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}

