@using LibiadaWeb.Helpers
@model IEnumerable<Matter>

@{
    ViewBag.Title = "Преобразование генетических текстов";
}

<h2>Преобразование генетических текстов</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @{
            var chainsList = Html.CheckBoxList("chainIds", (List<SelectListItem>)ViewBag.chainsList);

            foreach (var item in chainsList)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }

        }
    </table>
    <br/>
    @Html.CheckBox("toAmino", "Преобразовать в аминокислоты", null)
    <br/>
    <input type="submit" value="Преобразовать"/>
}
