@using LibiadaWeb.Helpers
@model IEnumerable<Matter>

@{
    ViewBag.Title = "Transformation of genetic sequences";
}

<h2>Transformation of genetic sequences</h2>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @{
    var sequencesList = Html.CheckBoxList("sequenceIds", (List<SelectListItem>)ViewBag.sequencesList);

    foreach (var item in sequencesList)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }

        }
    </table>
    <br />
    @Html.CheckBox("toAmino", "Transform to amino acids", null)
    <br />
    <input type="submit" value="Transform" />
}
