@{
    ViewBag.Title = "Batch genes import";
}

@Html.Partial("_AngularControllerInitializer", "GenesImport")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div ng-controller="GenesImportCtrl">
        <matters-table matters="matters"
                       nature="nature"
                       groups="groups"
                       sequence-types="sequenceTypes"
                       maximum-selected-matters="::maximumSelectedMatters"
                       selected-matters-count="selectedMattersCount">
        </matters-table>
        @Html.Partial("_MattersSubmit")
    </div>
}

@section Scripts {
    <script src="~/js/Angular/Components/mattersTable.js" asp-append-version="true"></script>
}
