@{
    ViewBag.Title = "Accordance calculation";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "CalculationResult")

    <div ng-controller="CalculationResultCtrl">
        <h4 class="mb-2" ng-bind="::matterNames[0]"></h4>
        <h4 ng-bind="::matterNames[1]"></h4>
        <div ng-switch="calculationType">
            <div ng-switch-when="Equality">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Element name</th>
                            <th ng-bind="::characteristicName + ' first to second'" />
                            <th ng-bind="::characteristicName + ' second to first'">
                                <br />
                                Reverse order
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="characteristic in ::characteristics[0]">
                            <td ng-bind="::alphabet[$index]" />
                            <td ng-bind="::characteristics[0][$index]" />
                            <td ng-bind="::characteristics[1][$index]" />
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-switch-when="All">
                <p ng-bind="::characteristicName"></p>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Element nam</th>
                            <th ng-repeat="characteristic in ::characteristics[0]"
                                ng-bind="::secondAlphabet[$index]" />
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="characteristic in ::characteristics">
                            <td ng-bind="::firstAlphabet[$index]" />
                            <td ng-repeat="characteristic in ::characteristics[$index]"
                                ng-bind="::characteristics[$parent.$index][$index]" />
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @section Scripts {
    <script src="~/js/Angular/Components/loadingWindow.js" asp-append-version="true"></script>
    <script src="~/lib/d3/d3.js" asp-append-version="true"></script>
    }
}
