:root {
    --navbar-height: 50px;
    --sidebar-width: 30px;
    --footer-height: 80px;
}

body {
    padding-top: var(--navbar-height);
    margin-bottom: var(--footer-height);
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

table {
    font-family: monospace;
    font-size: 16px;
    /*font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;*/
}

.empty-table {
    font-weight: bold;
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.chart-tooltip {
    z-index: 900; /*prevent tooltip from hiding navbar*/
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
