@{
    ViewBag.Title = "Subsequences similarity";
}
@Scripts.Render("~/bundles/loadingWindow")
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "CalculationResultController")
    <div ng-controller="CalculationResultCtrl">
        <h3>
            {{::firstSequenceName}} and {{::secondSequenceName}} using {{::characteristicName}}
        </h3>
        <br />
        <div>
            {{::similarity}} % of subsequences are similar:
            <br />
            {{::firstSequenceSimilarity}} % of first sequence.
            <br />
            {{::secondSequenceSimilarity}} % of second sequence.
        </div>
        <br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>First sequence subsequence feature</th>
                    <th>First sequence subsequence attributes</th>
                    <th>First sequence subsequence position</th>
                    <th>First sequence subsequence length</th>
                    <th>Second sequence subsequence feature</th>
                    <th>Second sequence subsequence attributes</th>
                    <th>Second sequence subsequence position</th>
                    <th>Second sequence subsequence length</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="similarSubsequence in ::similarSubsequences" 
                    ng-init="first = firstSequenceSubsequences[similarSubsequence.Item1]; second = secondSequenceSubsequences[similarSubsequence.Item2]">
                    <td ng-bind="::first.Feature" />
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="attribute in ::firstSequenceAttributes[similarSubsequence.Item1]" ng-bind="::attribute.Value"></li>
                        </ul>
                    </td>
                    <td>
                        {{::first.Start}}
                        <br />
                        <ul class="list-unstyled">
                            <li ng-repeat="position in ::first.Position" ng-bind="::position.Start"></li>
                        </ul>
                    </td>
                    <td>
                        {{::first.Length}}
                        <br />
                        <ul class="list-unstyled">
                            <li ng-repeat="position in ::first.Position" ng-bind="::position.Length"></li>
                        </ul>
                    </td>
                    <td ng-bind="::second.Feature"></td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="attribute in ::secondSequenceAttributes[similarSubsequence.Item2]" ng-bind="::attribute.Value"></li>
                        </ul>
                    </td>
                    <td>
                        {{::second.Start}}
                        <br />
                        <ul class="list-unstyled">
                            <li ng-repeat="position in ::second.Position" ng-bind="::position.Start"></li>
                        </ul>
                    </td>
                    <td>
                        {{::second.Length}}
                        <br />
                        <ul class="list-unstyled">
                            <li ng-repeat="position in ::second.Position" ng-bind="::position.Length"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/d3js")
}
