@{
    ViewBag.Title = "Characteristics of custom sequence";
}
@Scripts.Render("~/bundles/loadingWindow")

<h2>@ViewBag.Title</h2>
@if (ViewBag.Error == null)
{

    @Html.Partial("_AngularControllerInitializer", "OrderTransformationResultController")

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Sequence \ characteristic name
            </th>
            <th ng-repeat="characteristicName in characteristicNames" ng-bind="characteristicName" />
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="characteristic in characteristics">
            <td ng-bind="characteristic.MatterName" />
            <td ng-repeat="value in characteristic.Characteristics" ng-bind="value" />
        </tr>
        </tbody>

    </table>
}

