@{
    ViewBag.Title = "Multisequence grouping result";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    using (Html.BeginForm())
    {
        await Html.RenderPartialAsync("_AngularControllerInitializer", "MultisequenceGrouping");

        <div ng-controller="MultisequenceGroupingCtrl">
            <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
            <div ng-disabled="loading">
                <table class="table table-bordered table-hover" ng-cloak>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Multisequence name</th>
                            <th>Research objects</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="multisequence in result">
                            <td ng-bind="$index + 1" />
                            <td>
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           name="multisequencesNames"
                                           id="{{::'multisequence' + multisequence.Id}}"
                                           ng-value="::multisequence.name"
                                           ng-disabled="multisequence.researchObjectIds.length <= 1"
                                           ng-checked="multisequence.researchObjectIds.length > 1" />
                                    <label class="form-check-label" for="{{::'multisequence' + multisequence.Id}}" ng-bind="::multisequence.name" />
                                </div>
                            </td>
                            <td>
                                <div ng-repeat="researchObjectId in multisequence.researchObjectIds">
                                    <input type="hidden" name="{{'multisequenceResearchObjects[' + multisequence.name + ']'}}" value="{{researchObjectId}}" />
                                    {{researchObjects[researchObjectId]}}

                                    <button type="button" class="btn btn-danger btn-sm" ng-click="unbindResearchObject(multisequence, researchObjectId)">X</button>
                                    <br />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row mb-1">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <hr />
                <h3> Ungrouped research objects</h3>
                <table class="table table-bordered table-hover" ng-cloak>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Research object name</th>
                            <th>Group</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="researchObject in ungroupedResearchObjects">
                            <td ng-bind="$index + 1" />
                            <td ng-bind="researchObject.Name" />
                            <td>
                                @* TODO: add autocomplete *@
                                <select class="form-select"
                                        name="{{'researchObject' + researchObject.Id}}"
                                        ng-model="multisequence"
                                        ng-options="multisequence.name for multisequence in result"></select>
                                <button type="button" class="btn btn-secondary btn-sm" ng-click="bindResearchObject(multisequence, $index)">Distribute</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }

    @section Scripts {
    <script src="~/js/Angular/Components/loadingWindow.js" asp-append-version="true"></script>
    }
}
