@{
    ViewBag.Title = "Subsequences characteristics";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    for (int i = 0; i < ViewBag.matterNames.Length; i++)
    {
        @ViewBag.matterNames[i]
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Feature
                    </th>
                    <th>
                        Subsequence attributes
                    </th>
                    <th>
                        Subsequence position
                    </th>
                    @foreach (var characteristicName in ViewBag.characteristicNames)
                    {
                        <th>
                            @characteristicName
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var subsequenceData in ViewBag.characteristics[ViewBag.matterNames[i]])
                {
                    <tr>
                        <td>
                            @ViewBag.features[subsequenceData.FeatureId]
                        </td>
                        <td>
                            @foreach (var attribute in subsequenceData.Attributes)
                            {
                                @attribute
                                <br />
                            }
                        </td>
                        <td>
                            @foreach (var start in subsequenceData.Starts)
                            {
                                @start
                                <br />
                            }
                        </td>
                        @foreach (var characteristic in subsequenceData.CharacteristicsValues)
                        {
                            <td>
                                @characteristic
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
    }
}
