@model LibiadaWeb.alphabet

@{
    ViewBag.Title = "Алфавиты";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данный алфавит?</h3>
<fieldset>
    <legend>Алфавит</legend>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
