@model LibiadaWeb.alphabet

@{
    ViewBag.Title = "Алфавиты";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Алфавит</legend>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
