@{
    ViewBag.Title = "Characteristics";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "SequencePredictionResultController")

    <div ng-controller="SequencePredictionResultCtrl">
        <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
        <div ng-disabled="loading">
            <table class="table table-bordered table-hover" ng-cloak>
                <thead>
                    <tr>
                        <th>
                            Actual characteristic value
                        </th>
                        <th>
                            Predicted characteristic value
                        </th>
                        <th>
                            Fragment
                        </th>
                        <th>
                            Predicted
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="characteristic in result">
                        <td ng-bind="characteristic.ActualCharacteristic" />
                        <td ng-bind="characteristic.TheoreticalCharacteristic" />
                        <td ng-bind="characteristic.Fragment" />
                        <td ng-bind="characteristic.Predicted" />
                    </tr>
                </tbody>
            </table>
            <br/>
            
            <div class="form-group">
                <label class="control-label col-md-2" for="height">Height:</label>
                <div class="col-md-10">
                    <input class="form-control" name="height" id="height" type="number" min="{{500 + legendHeight}}" step="20" ng-model="height"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="width">Width:</label>
                <div class="col-md-10">
                    <input class="form-control" name="width" id="width" type="number" min="{{400}}" step="20" ng-model="width"/>
                </div>
            </div>
            <br/>
            <input type="button" class="btn btn-default" ng-click="draw()" value="Draw"/>
            <div id="chart">
            </div>
        </div>
    </div>
    <br />
}

@section Scripts {
    @Scripts.Render("~/bundles/d3js")
}
