@using LibiadaWeb.Helpers
@model dynamic

@{
    ViewBag.Title = "Вычисление характеристик генов";
}

<h2>Вычисление характеристик генов</h2>

<script type="text/javascript">
    "use strict";

    var app = angular.module("GenesCalculation", []);

    app.controller("GenesCalculationCtrl", ["$scope", function($scope) {

            var data = @Html.Raw(Json.Encode(ViewBag.data));

            MapModelFromJson($scope, data);

            $scope.characteristics = new Array();

            $scope.addCharacteristic = function() {
                $scope.characteristics.push({
                    characteristicType: $scope.characteristicTypes[0],
                    link: $scope.links[0],
                    notation: $scope.notations[0]
                });
            };

            $scope.deleteCharacteristic = function(characteristic) {
                $scope.characteristics.splice($scope.characteristics.indexOf(characteristic), 1);
            };

            $scope.isLinkable = function(characteristic) {
                return characteristic.characteristicType.Linkable;
            };
        }
    ]);
</script>

@using (Html.BeginForm("Index", "GenesCalculation", FormMethod.Post, new { enctype = "multipart/form-data", data_ng_app = "GenesCalculation" }))
{
    <fieldset ng-controller="GenesCalculationCtrl">
        <legend>Характеристики цепочек</legend>

        <div ng-repeat="pieceTypeCheckBox in pieceTypesCheckBoxes">
            <input type="checkbox" name="pieceTypeIds" ng-value="pieceTypeCheckBox.Value"/>
            <span ng-bind="pieceTypeCheckBox.Text"></span>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Создан</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="matter in matters">
                <td>
                    <input type="checkbox" name="matterIds" ng-value="matter.Value"/>
                    <span ng-bind="matter.Text"></span>
                </td>
                <td ng-bind="matter.description"/>
                <td ng-bind="matter.created"/>
            </tr>
            </tbody>
        </table>
        <br/>
        @Html.CheckBox("isSort", "Sort results", null)
        <br/>
        <button type="button" ng-init="addCharacteristic()" ng-click="addCharacteristic()">Добавить характеристику</button>
        <br/>
        <div ng-repeat="characteristic in characteristics">
            <select title="Характеристика" ng-model="characteristic.characteristicType" ng-options="c.Text for c in characteristicTypes"></select>
            <input type="hidden" name="characteristicIds" ng-value="characteristic.characteristicType.Value"/>

            <select title="Привязка" ng-show="isLinkable(characteristic)" ng-model="characteristic.link" ng-options="l.Text for l in links"></select>
            <input type="hidden" name="linkIds" ng-value="characteristic.link.Value"/>

            <select title="Форма записи" ng-model="characteristic.notation" ng-options="n.Text for n in notations"></select>
            <input type="hidden" name="notationIds" ng-value="characteristic.notation.Value"/>

            <button type="button" ng-click="deleteCharacteristic(characteristic)" ng-disabled="characteristics.length <= 1">Удалить</button>
            <br/>
        </div>
        <br/>
        <br/>
        <input type="submit" value="Вычислить"/>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/procedures")
}
