@model LibiadaWeb.language

@{
    ViewBag.Title = "Язык";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данный язык?</h3>
<fieldset>
    <legend>Язык</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
