@{
    ViewBag.Title = "Order transformation characteristics";
}
<script src="~/js/Angular/Components/loadingWindow.js" asp-append-version="true"></script>
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "OrderTransformationCharacteristicsDynamicVisualizationResult")

<div ng-controller="OrderTransformationCharacteristicsDynamicVisualizationResultCtrl">
    <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
    <h4 class="font-monospace">
        Transformations repeated {{::iterationsCount}} times:
    </h4>
    <table class="table table-bordered table-hover" ng-cloak>
        <tbody>
            <tr ng-repeat="transformation in ::transformationsList">
                <td ng-bind="::transformation" />
            </tr>
        </tbody>
    </table>
    <hr/>
    <div class="row mb-1">
        <label class="col-form-label col-md-2" for="height">Height:</label>
        <div class="col-md-10">
            <input class="form-control" name="height" id="height" type="number" min="{{::500 + legendHeight}}" step="20" ng-model="height" />
        </div>
    </div>
    <div class="row mb-1">
        <label class="col-form-label col-md-2" for="width">Width:</label>
        <div class="col-md-10">
            <input class="form-control" name="width" id="width" type="number" min="400" step="20" ng-model="width" />
        </div>
    </div>
    <input type="button" class="btn btn-secondary mb-2" ng-click="draw()" value="Draw" />
    <div id="chart" class="font-monospace mb-2">
    </div>
</div>
}

@section Scripts {
    <script src="~lib/d3/d3.js" asp-append-version="true"></script>
}
