@model dynamic

@{
    ViewBag.Title = "Sequence import result";
}

@if (ViewBag.Error == null)
{
    <h2>Sequence import result</h2>
    <br />
    <div>
        Sequence @ViewBag.matterName imported successfully
    </div>
    <br/>
    <div>
        @Html.ActionLink("Import another sequence", "Create") or go @Html.ActionLink("back to List", "Index").
    </div>
}
