@model IEnumerable<Matter>

<div class="form-check my-2" ng-init="$ctrl.geneticNature = @((byte)Nature.Genetic)" ng-show="$ctrl.nature == $ctrl.geneticNature">
    <input type="checkbox"
           class="form-check-input"
           name="showRefSeqOnly"
           id="showRefSeqOnly"
           checked
           ng-model="$ctrl.showRefSeqOnly"
           ng-change="$ctrl.toogleMattersVisibility(false)" />
    <label class="form-check-label" for="showRefSeqOnly">
        Show only reference sequences
    </label>
</div>
<div class="mb-1 btn-group" ng-if="::($ctrl.checkboxes && !$ctrl.displayMultisequenceNumber)" role="group" aria-label="Select / unselect vsible matters">
    <input type="button" class="btn btn-success" ng-click="$ctrl.selectAllVisibleMatters()" value="Select all visible sequences" />
    <input type="button" class="btn btn-secondary" ng-click="$ctrl.unselectAllVisibleMatters()" value="Clear selection" />
</div>
<h4>Sequences:</h4>
<table ng-cloak class="table table-bordered table-hover table-sm mb-3">
    <thead>
        <tr>
            <th ng-if="::$ctrl.displayMultisequenceNumber"></th>
            <th>
                <div class="row">
                    <div class="col">
                        <input type="text"
                               class="form-control"
                               placeholder="Start typing name to see results"
                               ng-model="$ctrl.searchMatterText"
                               ng-init="$ctrl.searchMatterText=''"
                               ng-change="$ctrl.toogleMattersVisibility(false)" />
                    </div>
                    <div class="col" ng-show="!$ctrl.searchMatterText && $ctrl.group && $ctrl.sequenceType">
                        or <input type="button" class="btn btn-outline-secondary" ng-click="$ctrl.toogleMattersVisibility(false, true)" value="show all" />
                    </div>
                </div>
            </th>
            <th>
                <select class="form-select"
                        ng-model="$ctrl.group"
                        ng-options="g.Value as g.Text for g in $ctrl.groups | filter:{ Nature: $ctrl.nature }"
                        ng-change="$ctrl.toogleMattersVisibility(false)">
                    <option value="">-- All groups --</option>
                </select>
            </th>
            <th>
                <select class="form-select"
                        ng-model="$ctrl.sequenceType"
                        ng-options="s.Value as s.Text for s in $ctrl.sequenceTypes | filter:{ Nature: $ctrl.nature }"
                        ng-change="$ctrl.toogleMattersVisibility(false)">
                    <option value="">-- All sequence types --</option>
                </select>
            </th>
        </tr>
        <tr>
            <th ng-if="::$ctrl.displayMultisequenceNumber">№</th>
            <th>@(Html.DisplayNameFor(model => model.Name))</th>
            <th>@(Html.DisplayNameFor(model => model.Group))</th>
            <th>@(Html.DisplayNameFor(model => model.SequenceType))</th>
        </tr>
    </thead>
    <tbody id="mattersSelectList">
    </tbody>
</table>
