@model IEnumerable<ResearchObject>
<br />
<div class="form-check my-2" ng-init="$ctrl.geneticNature = @((byte)Nature.Genetic)" ng-show="$ctrl.nature == $ctrl.geneticNature">
    <input type="checkbox"
           class="form-check-input"
           name="showRefSeqOnly"
           id="showRefSeqOnly"
           checked
           ng-model="$ctrl.showRefSeqOnly"
           ng-change="$ctrl.toogleResearchObjectsVisibility(false)" />
    <label class="form-check-label" for="showRefSeqOnly">
        Show only reference sequences
    </label>
</div>
<div class="mb-1 mt-2 btn-group" ng-if="::($ctrl.checkboxes && !$ctrl.displayMultisequenceNumber)" role="group" aria-label="Select / unselect vsible sequences">
    <input type="button" class="btn btn-success" ng-click="$ctrl.selectAllVisibleResearchObjects()" value="Select all visible sequences" />
    <input type="button" class="btn btn-secondary" ng-click="$ctrl.unselectAllResearchObjects()" value="Clear selection" />
</div>
<h4>Sequences:</h4>
<table ng-cloak class="table table-bordered table-hover table-sm mb-3">
    <thead>
        <tr>
            <th ng-if="::$ctrl.displayMultisequenceNumber"></th>
            <th>
                <div class="row">
                    <div class="col">
                        <input type="text"
                               id="researchObjectSearch"
                               class="form-control"
                               placeholder="Start typing name to see results"
                               ng-model="$ctrl.searchResearchObjectText"
                               ng-change="$ctrl.toogleResearchObjectsVisibility(false)" />
                    </div>
                    <div class="col" ng-show="!$ctrl.searchResearchObjectText && $ctrl.group && $ctrl.sequenceType">
                        or <input type="button" class="btn btn-outline-secondary" ng-click="$ctrl.toogleResearchObjectsVisibility(false, true)" value="show all" />
                    </div>
                </div>
            </th>
            <th>
                <select class="form-select"
                        id="researchObjectGroupSelect"
                        ng-model="$ctrl.group"
                        ng-options="g.Text for g in $ctrl.groups | filter:{ Nature: $ctrl.nature }"
                        ng-change="$ctrl.toogleResearchObjectsVisibility($ctrl.groupAndTypeRequired)">
                    <option ng-if="::!$ctrl.groupAndTypeRequired" value="">-- All groups --</option>
                </select>
                <input type="hidden" name="Group" ng-value="$ctrl.group.Value" />
            </th>
            <th>
                <select class="form-select"
                        id="researchObjectSequenceTypeSelect"
                        ng-model="$ctrl.sequenceType"
                        ng-options="s.Text for s in $ctrl.sequenceTypes | filter:{ Nature: $ctrl.nature }"
                        ng-change="$ctrl.toogleResearchObjectsVisibility($ctrl.groupAndTypeRequired)">
                    <option ng-if="::!$ctrl.groupAndTypeRequired" value="">-- All sequence types --</option>
                </select>
                <input type="hidden" name="SequenceType" ng-value="$ctrl.sequenceType.Value" />
            </th>
        </tr>
        <tr>
            <th ng-if="::$ctrl.displayMultisequenceNumber">№</th>
            <th>@(Html.DisplayNameFor(model => model.Name))</th>
            <th>@(Html.DisplayNameFor(model => model.Group))</th>
            <th>@(Html.DisplayNameFor(model => model.SequenceType))</th>
        </tr>
    </thead>
    <tbody id="researchObjectsSelectList">
    </tbody>
</table>
