<div class="row mb-3">
    <div class="col-md-10">
        <input type="submit"
               class="btn btn-secondary"
               ng-value="::$ctrl.submitName"
               ng-disabled="$ctrl.selectedResearchObjectsCount + $ctrl.selectedSequenceGroupsCount < $ctrl.minimumSelectedResearchObjects" />
    </div>
</div>
