@model dynamic

@{
    ViewBag.Title = "Вычисление характеристик произвольной цепочки";
}

<h2>Вычисление характеристик произвольной цепочки</h2>

<script type="text/javascript">

    var divCounter = 0;
    
    $(document).ready(function () {

        AddCharacteristic();
    });

    function AddCharacteristic() {
        
        var paramsList = new Object();
        
        @Helpers.FillParamsList("characteristicIds", ViewBag.characteristicsList)
        @Helpers.FillParamsList("linkUpIds",  ViewBag.linkUpsList)

        var characteristicsDiv = CreateCharacteristicsBlock(divCounter, paramsList);
        $("#characteristics_list").append(characteristicsDiv);
        divCounter++;
        
        return false;
    }
</script>

@using (Html.BeginForm())
{
    @Html.Label("Цепочка")
    @Html.Editor("chain")
    <br/>
    <input type="button" onclick="AddCharacteristic()" value="Добавить характеристику"/>
    <div id="characteristics_list"></div>
    <br/>
    <br/>
    <input type="submit" value="Вычислить" />
}