@{
    ViewBag.Title = "Subsequences characteristics distributions";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer")
    <div ng-app="SubsequencesDistributionResult" ng-controller="SubsequencesDistributionResultCtrl">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="4" ng-repeat="res in result" ng-bind="res.MatterName" />
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" ng-repeat="res in result" ng-bind="res.Characteristic" />
                </tr>
                <tr ng-repeat="maxSubsequences in result[maxSubsequencesIndex].SubsequencesCharacteristics" ng-init="matterIndex = $index">
                    <td ng-repeat-start="res in result">
                        <div ng-if="matterIndex < res.SubsequencesCharacteristics.length">
                            {{res.SubsequencesCharacteristics[matterIndex].Feature}}
                        </div>
                    </td>
                    <td>
                        <div ng-if="matterIndex < res.SubsequencesCharacteristics.length">
                            <div ng-repeat="attribute in res.SubsequencesCharacteristics[matterIndex].Attributes">
                                {{attribute}}
                                <br />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div ng-if="matterIndex < res.SubsequencesCharacteristics.length">
                            <div ng-repeat="position in res.SubsequencesCharacteristics[matterIndex].Starts">
                                {{position}}
                                <br />
                            </div>
                        </div>
                    </td>
                    <td ng-repeat-end>
                        <div ng-if="matterIndex < res.SubsequencesCharacteristics.length">
                            {{res.SubsequencesCharacteristics[matterIndex].Characteristic}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="numericXAxis" ng-model="numericXAxis" value="false" />
                    Numeric x axis
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="hight">Hight:</label>
            <div class="col-md-10">
                <input class="form-control" name="hight" id="hight" type="number" min="{{500 + legendHeight}}" step="20" ng-model="hight"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="width">Width:</label>
            <div class="col-md-10">
                <input class="form-control" name="width" id="width" type="number" min="{{400}}" step="20" ng-model="width" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="button" class="btn btn-default" ng-click="prepareDataAndDraw()" value="Draw" />
            </div>
        </div>
        <div id="chart">
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/dcjs")
    }
}
