@{
    ViewBag.Title = "Subsequences characteristics distributions";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "SubsequencesDistributionResultController")
    <div class="form-horizontal" ng-app="SubsequencesDistributionResult" ng-controller="SubsequencesDistributionResultCtrl">
        <div class="form-group">
            <label class="control-label col-md-2" for="hight">Hight:</label>
            <div class="col-md-10">
                <input class="form-control" name="hight" id="hight" type="number" min="{{500 + legendHeight}}" step="20" ng-model="hight" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="width">Width:</label>
            <div class="col-md-10">
                <input class="form-control" name="width" id="width" type="number" min="{{400}}" step="20" ng-model="width"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="numericXAxis" ng-model="numericXAxis" value="false" />
                    Numeric x axis
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" ng-click="drawGenesMap()" value="Draw" />
            </div>
        </div>
        @Html.Partial("_FeaturesSelect")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label>
                    <input type="checkbox" name="highlight" ng-model="highlight" value="false" />
                    Highlight similar subsequences
                </label>
            </div>
        </div>
        <div id="chart">
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/dcjs")
    }
}
