@model dynamic

@{
    ViewBag.Title = "Sequences check";
}

<h2>Sequences check</h2>
@using (Html.BeginForm("Index", "SequenceCheck", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Sequence</legend>

        <div class="editor-label">
            @Html.Label("Sequence")
        </div>
        <div class="editor-field">
            @Html.DropDownList("matterId", string.Empty)
        </div>

        <input type="file" name="file" id="file"/>

        <p>
            <input type="submit" value="Check"/>
        </p>
    </fieldset>
}
