@{
    ViewBag.Title = "Sequences check";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "SequenceCheck", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row mb-1" ng-hide="original">
        <label class="col-form-label col-md-2" for="matterId">Sequence:</label>
        <div class="col-md-10">
            @Html.DropDownList("matterId", null, htmlAttributes: new { @class="form-select" })
        </div>
    </div>
    <div class="row mb-1" ng-show="localFile">
        <label class="col-form-label col-md-2" for="file">Sequence file:</label>
        <div class="col-md-10">
            <input type="file" name="file" id="file" />
        </div>
    </div>
    <div class="row mb-1">
        <div class="offset-md-2 col-md-10">
            <input type="submit" value="Check" class="btn btn-secondary" />
        </div>
    </div>
}
