@{
    ViewBag.Title = "Sequence check result";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "BatchSequenceImportResultController")

    <div ng-controller="BatchSequenceImportResultCtrl">
        @Html.Partial("_ModalLoadingWindow")
        <br />
        <div ng-class="calculateStatusClass(status)">{{message}}</div>
        <div>
            @Html.ActionLink("Check another sequence", "Index").
        </div>
    </div>
}