@{
    ViewBag.Title = "Sequences Order Distribution";
}
@Scripts.Render("~/bundles/loadingWindow")
<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "SequencesOrderDistributionResultController")

    <div ng-controller="SequencesOrderDistributionResultCtrl">
        <loading-window loading="loading" loading-screen-header="loadingScreenHeader"></loading-window>
        <div ng-disabled="loading">
            <div ng-repeat="order in ::result">
                            <th>#</th>
                            <th ng-bind="::order.order" />
                        <tr ng-repeat="sequence in ::order.sequences">
                            <td ng-bind="::$index+1" />
                            <td ng-bind="::sequence" />
            <div class="form-group">
                <label class="control-label col-md-2" for="height">Height:</label>
                <div class="col-md-10">
                    <input class="form-control" name="height" id="height" type="number" min="500" step="20" ng-model="height" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="width">Width:</label>
                <div class="col-md-10">
                    <input class="form-control" name="width" id="width" type="number" min="400" step="20" ng-model="width" />
                </div>
            </div>
            <br />
            <input type="button" class="btn btn-default" ng-click="draw()" value="Draw" />
            <br />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Уровни</th>
                        <th>Количество распределений</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="level in accordanceLevels">
                        <td ng-bind="level.level"></td>
                        <td ng-bind="level.distributionsCount"></td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div id="chart">
            </div>

        </div>
    </div>
    <br />
}

@section Scripts {
    @Scripts.Render("~/bundles/d3js")
}
