@{
    ViewBag.Title = "WAV files data";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Error == null)
{
    @Html.Partial("_AngularControllerInitializer", "MusicFilesResult")

    <div ng-controller="MusicFilesResultCtrl" class="mb-2">
        <table class="table table-bordered table-hover" ng-cloak>
            <thead>
                <tr>
                    <th>File name</th>
                    <th>Channels</th>
                    <th>Frequency</th>
                    <th>Audio format</th>
                    <th>Sample size</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="element in ::data">
                    <td ng-bind="::element.name" />
                    <td ng-bind="::element.channels" />
                    <td ng-bind="::element.sampleRate" />
                    <td ng-bind="::element.audioFormat" />
                    <td ng-bind="::element.sampleSize" />
                </tr>
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <script src="~lib/d3/d3.js" asp-append-version="true"></script>
}
