@model LibiadaWeb.remote_db

@{
    ViewBag.Title = "Сторонние БД";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данную стороннюю БД?</h3>
<fieldset>
    <legend>Сторонняя БД</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">url адрес</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.url)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
