@model dynamic

@{
    ViewBag.Title = "title";
}
<script>

    function CreateChainViewModel(data) {
        var chainViewModel = ko.mapping.fromJS(data);
        var self = chainViewModel;

        return self;
    }

    $(document).ready(function () {
        var data = @Html.Raw(Json.Encode(ViewBag.data)) ;

        ko.applyBindings(CreateChainViewModel(data));
    });
    
</script>

<h2>title</h2>
@using (Html.BeginForm("Create", "Chain", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="editor-label">
        Цепочка
    </div>
    <div class="editor-field">
        <select name="chainr_id" data-bind="options: $root.chains, optionsText: 'Text', optionsValue: 'Value'"></select>
    </div>
    <p>
        <input type="submit" value="Создать" />
    </p>
}