@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<h3>SubChains:</h3>

@foreach (var item in ViewBag.SubChains)
{
    @item
    <br />
}


<h3>genes:</h3>

@foreach (var item in ViewBag.genes)
{
    @item
    <br />
}
<h3>products:</h3>
@foreach (var item in ViewBag.products)
{
    @item
    <br />
}