@model LibiadaWeb.characteristic_group

@{
    ViewBag.Title = "Группы характеристик";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить данную группу характеристик?</h3>
<fieldset>
    <legend>Группа характеристик</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
